<h2>{{model.title}} {{model.author}} {{model.details}}</h2>
{{update-question question=model update="update"}}
{{question-detail question=model destroyQuestion="destroyQuestion"}}

<!-- {{answer-pane answers=model.answers destroyAnswer="destroyAnswer" update="update"}} -->
{{new-answer question=model saveAnswer="saveAnswer"}}
{{#each model.answers as |answer|}}
  <li>{{answer.title}} : {{answer.author}}</li>
  <button {{action 'delete' answer}}>Delete Answer</button>
  <!-- {{update-comment comment=comment update="update"}} -->
{{/each}}
